body {
  background-color: #fff;
  min-width: 640px;
  padding-top: 70px;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -16px;
}

// Compass Block
// .compassBlock {
//   @include block-background("../images/myimage.png");
// }
